body {
  margin: 0;
}

/* header*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 300px;
  background-color: lightgray;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.nav-link {
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  transition: 0.3s;
  background-color: #e5e5e5;
}

.logo-img {
  height: 50px;
  padding: 5px 20px;
  border: solid 1px black;
  border-radius: 50%;
}

/* main */

main {
  margin: 0 15%;
}

.div-heading1 {
  text-align: center;
}

.logo-title {
  display: flex;
  padding-left: 3px;
  gap: 15px;
  align-items: center;
}

.heading3 {
  margin: 10px 0;
}

.brand-story {
  margin: 10px 0;
}

.description-models-div {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.description-models-card {
  border: 1px solid black;
  border-radius: 25px;
  max-width: 400px;
  overflow: hidden;
}

.model-img {
  width: 400px;
}

.heading3-about-car {
  margin: 10px 10px;
}

.about-car {
  margin: 0 10px 10px 10px;
}

.div-response {
  width: fit-content;
  min-width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 15px;
}

.heading4,
.p-response {
  margin: 10px 5px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 5px 300px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 5px 0;
}

/* To top btn*/

.to-top-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
  max-width: 50px;
  max-height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 50%;
}

.to-top-btn:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.3s;
}

.to-top-img {
  width: 50px;
}
