body {
  margin: 0;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 5px 300px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 5px 0;
}
