body {
  margin: 0;
}

/* header*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 300px;
  background-color: lightgray;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.nav-link {
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  transition: 0.3s;
  background-color: #e5e5e5;
}

.logo-img {
  height: 50px;
  padding: 5px 20px;
  border: solid 1px black;
  border-radius: 50%;
}