@import url(../styles/style.css);

:root {
  --input-width: 170px;
}

* {
  margin: 0;
}

form {
  width: fit-content;
  margin: calc((65vh - 200px) / 2) auto;
  font-size: 18px;
}

form > section {
  gap: 10px;
}

/* personal info */

.content,
fieldset div {
  display: flex;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 200px;
}

fieldset > div {
  justify-content: space-between;
}

input[type="text"],
input[type="date"],
input[type="text"],
select,
textarea,
.sex-radiobtn {
  width: var(--input-width);
}

.sex-radiobtn {
  justify-content: space-around;
}

.sex-radiobtn > div {
  gap: 5px;
}

select,
div:has(input[type="radio"]) > label,
input[type="radio"],
input[type="checkbox"],
input[type="range"] {
  cursor: pointer;
}

/* contacts */

.contact-data {
  justify-content: start;
}

.contact-data > div {
  margin: 3px 0;
}

.contact-data input,
.contact-data textarea {
  width: calc(var(--input-width) + 90px);
}

textarea {
  padding: 1px 2px;
  height: 19px;
  min-height: 19px;
  max-height: 104px;
  resize: vertical;
}

/* car info */

.used {
  justify-content: start;
  gap: 25px;
}

.color {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.color div {
  gap: 3px;
}

.price {
  flex-direction: column;
}

.price > input {
  width: 180px;
}

datalist {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  font-size: 14px;
}

/* buttons */

.buttons {
  display: flex;
  justify-content: center;
}

input[type="reset"],
input[type="submit"] {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

input[type="reset"] {
  background-color: red;
  color: rgb(255, 200, 200);
}

input[type="submit"] {
  background-color: rgb(52 199 89);
  color: rgb(175, 255, 195);
}
